# PostgreSQL
POSTGRES_USER=proy3
POSTGRES_PASSWORD=secret
POSTGRES_DB=store

# Backend
DB_HOST=db
DB_USER=proy3
DB_PASSWORD=secret
DB_NAME=store

# Frontend
API_URL=http://backend:8000
NEXT_BASE_PATH=

# Secreto de sesión
SESSION_SECRET=supersecret
