# PostgreSQL Database
POSTGRES_USER=your_db_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=your_database_name

# Backend
DB_HOST=db
DB_USER=your_db_user
DB_PASSWORD=your_secure_password
DB_NAME=your_database_name

# Frontend
API_URL=http://backend:8000